@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Inter, sans-serif;
    position: relative;

    background:

        /* GRID */
        linear-gradient(rgba(255, 255, 255, 0.018) 1px,
            transparent 1px),

        linear-gradient(90deg,
            rgba(255, 255, 255, 0.018) 1px,
            transparent 1px),

        /* SOFT LEFT LIGHT */
        radial-gradient(circle at 12% 10%,
            rgba(73, 88, 180, 0.16) 0%,
            rgba(73, 88, 180, 0.08) 20%,
            transparent 45%),

        /* BOTTOM LIGHT */
        radial-gradient(circle at 75% 100%,
            rgba(70, 55, 150, 0.12) 0%,
            rgba(70, 55, 150, 0.05) 22%,
            transparent 50%),

        /* TOP RIGHT CYAN */
        radial-gradient(circle at 100% 0%,
            rgba(0, 140, 255, 0.08) 0%,
            rgba(0, 140, 255, 0.03) 18%,
            transparent 38%),

        /* MAIN BACKGROUND */
        linear-gradient(135deg,
            #16182d 0%,
            #0a0d1c 35%,
            #05070f 70%,
            #0b1c2f 100%);

    background-size:
        55px 55px,
        55px 55px,
        auto,
        auto,
        auto,
        auto;

    background-attachment: fixed;
}

@keyframes float1 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float3 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-6px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-float1 {
    animation: float1 4s ease-in-out infinite;
}

.animate-float2 {
    animation: float2 5s ease-in-out infinite;
}

.animate-float3 {
    animation: float3 4.5s ease-in-out infinite;
}

@keyframes logoFloat {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.animate-logo {
    animation: logoFloat 5s ease-in-out infinite;
}

.animate-logo img {
    filter:
        drop-shadow(0 0 25px rgba(1, 34, 61, 0.399)) drop-shadow(0 0 60px rgba(37, 14, 113, 0.293));
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background:
        radial-gradient(circle at top left,
            rgba(120, 80, 255, .25),
            transparent 40%),
        radial-gradient(circle at bottom right,
            rgba(0, 255, 255, .15),
            transparent 40%),
        #050816;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image:
        linear-gradient(rgba(255, 255, 255, .03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, .03) 1px, transparent 1px);
    background-size: 60px 60px;
    pointer-events: none;
}

/* Scrollbar Width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Orqa fon */
  ::-webkit-scrollbar-track {
    background: #09112E;
    border-radius: 20px;
  }
  
  /* Slider */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      #7c3aed,
      #06b6d4
    );
    border-radius: 20px;
    border: 2px solid #09112E;
  }
  
  /* Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      #9333ea,
      #22d3ee
    );
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #014378ac #09112E;
  }